# Python
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environment Variables (CRITICAL)
.env
.env.*
!.env.example

# Docker / Database
pgdata/
.docker/

# Prefect / Orchestration
.prefect/
prefect.db

# OS specific
.DS_Store

great_expectations/uncommitted/